.bg-bubbles {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.7)
    ),
    url("./assets/bubbles.jpg");
  background-size: cover;
}

.bg-bubbles--blue {
  background-image: linear-gradient(
      rgba(219, 234, 254, 0.9),
      rgba(219, 234, 254, 0.7)
    ),
    url("./assets/bubbles.jpg");
  background-size: cover;
}
