.bg-bubbles {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.7)
    ),
    url("./assets/bubbles.jpg");
  background-size: cover;
  background-position: center;
}

.bg-bubbles--blue {
  background-image: linear-gradient(
      rgba(219, 234, 254, 0.9),
      rgba(219, 234, 254, 0.7)
    ),
    url("./assets/bubbles.jpg");
  background-size: cover;
  background-position: center;
}

input[type="file"] {
  display: none;
}

/* OVERLAY PORTION CONVERTED TO TAILWIND CONFIG */

/* .show-overlay {
  animation: enterLeft 500ms forwards;
}
.hide-overlay {
  animation: exitLeft 500ms forwards;
}

@keyframes enterLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  1% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0.5;
    transform: translateX(0);
  }
}

@keyframes exitLeft {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  99% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
} */
